h4,
.p-user :nth-child(1),
.btn-green,
.btn-purple,
main p {
  font-weight: 600;
}

h4,
main p,
.p-user :nth-child(1) {
  font-family: "Sora", sans-serif;
}

h4 {
  font-size: 32px;
}

.BT-H4,
.main-content {
  margin: 32px;
}

.dflex {
  display: flex;
}

.main-content {
  background: white;
  max-width: 100%;
  max-height: 50%;
  border-radius: 24px;
  padding: 0.1px 0px 0.1px 0px;
  box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.2);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.2);
}

.btn-voltar {
  background-color: #eeeeee;
  border-radius: 100%;
  border: none;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  transition: 0.5s;
  align-items: center;
}

.btn-voltar:hover {
  cursor: pointer;
  background-color: #c2c0c0;
  transition: 0.5s;
}

.btn-voltar img {
  padding-top: 5px;
}

form {
  margin: 32px;
}

form input,
.tdm {
  width: 400px;
  height: 56px;
  border-radius: 16px;
  border: 1.5px solid #e0e0e0;
}

.form-container {
  margin: 32px 0px 27px 0px;
}

form .btn-purple {
  font-size: 16px;
  width: 400px;
  height: 48px;
  border-radius: 16px;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #00c247;
  transition: 0.5s;
}

body {
  background: #f5f4f9;
}

.parte-superior {
  background: #fff;
  display: flex;
  border: 1px;
  width: 100%;
  height: 68px;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.imagem1 {
  position: absolute;
  left: 0;
  top: 0;
}

.linhas {
  display: flex;
  width: 100%;
}

.linha {
  width: 20%;
}

*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.box-content,
button,
input {
  font-family: "Poppins", sans-serif;
}

menu {
  display: flex;
  flex-direction: column;
}

.btn-menu,
.btnstatic {
  font-size: 16px;
  border: none;
  background: none;
  color: white;
  height: 56px;
  text-align: start;
  align-items: center;
  width: 100%;
}

.btnstatic-laranja {
  background: #faa61a;
  font-weight: 600;
}

.btn-menu:hover {
  cursor: pointer;
  font-weight: 600;
  background: #f48221;
}

.btn-menu img,
.btnstatic img {
  margin: 0 17px 0 24px;
}

.box-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boxLateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  background: #f9e423;
  height: 100vh;
}

.dflex {
  display: flex;
}

.center-text {
  text-align: center;
}

.info-white :nth-child(1) {
  margin-right: 10px;
}

.opcoes {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
}

.botao:hover .opcoes {
  display: block;
}

.opcoes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opcoes li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.opcoes li:last-child {
  border-bottom: none;
}

.opcoes a {
  text-decoration: none;
  color: #333;
}

*/ .opcoes a:hover {
  text-decoration: underline;
}

.opcoes a.selecionado {
  background-color: #ffa500;
  /* Laranja claro quando selecionado */
  color: #fff;
}

.opcoes a[href="${currentPageURL}"] {
  background-color: #ff4500;
  /* Laranja escuro quando na página de destino */
  color: #fff;
}
