
.parte-superior {
    display: flex;
    border: 1px;
    Width: 100%;
    Height: 68px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.imagem1 {
    position: absolute;
    left: 0;
    top: 0;

}

.linhas {
    display: flex;


}

.linha {
    width: 270px;
}
*,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.box-content,button,input{
    font-family: 'Poppins', sans-serif;
}

menu{
    display: flex;
    flex-direction: column;
}

    .btn-menu, .btnstatic {
        font-size: 16px;
        border: none;
        background: none;
        color: white;
        height: 56px;
        text-align: start;
        align-items: center;
        width: 100%;
    }

btnVerde{
    background: #FAA61A;
    font-weight: 600;
}
.btn-menu:hover{
    cursor: pointer;
    font-weight: 600;
    background: 
    #F48221;
}
.btn-menu img, .btnstatic img{
    margin: 0 17px 0 24px;
}

.box-content,
button,
input {
    font-family: 'Poppins', sans-serif;
}

menu {
    display: flex;
    flex-direction: column;
}

.btn-menu,
.btnstatic {
    font-size: 16px;
    border: none;
    background: none;
    color: white;
    height: 56px;
    text-align: start;
    align-items: center;
    width: 100%;
}

btnVerde {
    background: #FAA61A;
    font-weight: 600;
}

.btn-menu:hover {
    cursor: pointer;
    font-weight: 600;
    background:
        #F48221;
}

.btn-menu img,
.btnstatic img {
    margin: 0 17px 0 24px;
}

.box-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.boxLateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 274px;
    background: #F9E423;
    height: 100vh;
}

.dflex {
    display: flex;
}
.center-text {
    text-align: center;
}
.info-white :nth-child(1) {
    margin-right: 10px;

}




.opcoes {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

.botao:hover .opcoes {
    display: block;
}

.opcoes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.opcoes li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.opcoes li:last-child {
    border-bottom: none;
}

.opcoes a {
    text-decoration: none;
    color: #333;
}

*/ .opcoes a:hover {
    text-decoration: underline;
}

.opcoes a.selecionado {
    background-color: #FFA500;
    /* Laranja claro quando selecionado */
    color: #fff;
}

.opcoes a[href="${currentPageURL}"] {
    background-color: #FF4500;
    /* Laranja escuro quando na página de destino */
    color: #fff;
}
.graf{
    margin-left: 343px;
    margin-top: -357px;
}
.dias{
    height: 40%;
    width: 40%;
}
.regis{
    height: 40%;
    width: 40%;
}
.perc{
    height: 40%;
    width: 40%;
}

.conteudo{
    width: 100%;
}
.titulo{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.imagens{
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 85%;
    width: 95%;
}
.im1{
    width: 60%;
    height: 100%;
}
.imagens2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 100%;

}
.im2{
    width: 100%;
    height: 30%;
}
.im3{
    width: 100%;
    height: 60%;
}
