body {
  background: rgba(245, 244, 249, 1);
  margin: 0;
  padding: 0;

}

.img-inicio {

  background-image: rgba(245, 244, 249, 1);
}

.img-inicio img {
  width: 100%;
  top: 0;
  left: 0;



}


.form {

  top: 0;
  right: 0;
  height: 100%;

  background: white;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}


.btn {

  display: block;
  /* Garante que os elementos dentro da div sejam empilhados verticalmente */
  margin-top: 10px;
  /* Espaçamento entre os botões */
  height: 31px;
  width: 256px;
  background: rgb(39, 211, 39);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* css-especifico */

.d-flex {
  display: flex;
}

.conteiner {
  display: flex;
  justify-content: space-between;
}