
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(187, 192, 205, 0.4);
  padding: 20px;
}

.image {
  text-align: center;
}


.login-text {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.input-box {
  border: 1px solid rgba(0, 194, 71, 1);
  border-radius: 150px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 30px;
}
  

.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button.button {
  
  background-color: rgba(0, 194, 71, 1);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  width: 252px;
}
h2{
  font-size: 30px;
  height:67.2px;
}

.or-text {
  font-weight: bold;
  margin: 10px 0;
  color:  rgba(97, 97, 97, 1);;
}
.form h2 {
  font-weight: bold;
  margin-bottom: 64px;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(187, 192, 205, 0.4);
  border-radius: 10px;
  height: 100%;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;

}
.conteiner-input{
  position: relative;

}
.label-login{
  
  position: absolute;
  font-size: 12px;
  top: 13px;
  left: 20px;
  background-color: white;
}
