.body{
    display: flex;
    left: 0;
    top: 0;
}



.parte-superior {
    display: flex;
    border: 1px;
    Width: 100%;
    Height: 68px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.imagem1 {
    position: absolute;
    left: 0;
    top: 0;

}


.linhas {
    display: flex;


}

.linha {
    width: 270px;
}



.conteiner-lateral {
    display: flex;
    background: #F9E423;
    
    flex-direction: column; 
    height: 87vh; 
    width: 222px;
}

.itens {
    flex: 1;
  
    padding: 20px;
   
}
.palavra-centralizada{
    display: flex;
    
}