.parte-superior {
    display: flex;
    border: 1px;
    Width: 100%;
    Height: 68px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}


.linhas {
    display: flex;


}

.linha {
    width: 270px;
}

*,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.box-content {
    font-family: 'Poppins', sans-serif;
}

menu {
    display: flex;
    flex-direction: column;
}

.btn-menu,
.btnstatic {
    font-size: 16px;
    margin: 8px;
    border: none;
    background: none;
    color: white;
    max-width: 255px;
    height: 56px;
    border-radius: 8px;
    text-align: start;
    align-items: center;
}

btnVerde {
    background: #FAA61A;
    font-weight: 600;
}

.btn-menu:hover {
    cursor: pointer;
    font-weight: 600;
    background:
        #F48221;
}

.btn-menu img,
.btnstatic img {
    margin: 0 17px 0 24px;
}

.box-silver {
    background: #dad9d9;
    margin-left: 5px;
    width: 70%;
}





.svg-user {
    width: 56px;
    margin-left: 16px;
}





.p-user :nth-child(1) {
    font-size: 20px;
}



.main-content {
    margin: 32px;
}


.main-content {

    padding: 20px 20px 50px 20px;

}

#formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}


.input-search {
    font-size: 16px;
    width: 400px;
    height: 56px;
    border-radius: 16px;
    padding-left: 16px;
    border: 1.5px solid #E0E0E0;
    border-radius: 16px;

}

.search-lupa img {
    position: absolute;
    top: 208px;
    left: 628px;
    height: 35px;
    width: 34px;
}


.search-lupa img:hover {
    cursor: pointer;
}


.dflex {
    display: flex;
}

.info-tabela {
    background: #ffffff;
    height: 72px;
    padding: 24px 40px;
    max-width: 100%;
}

.info-white {

    height: 80px;
    padding: 28px 40px;
    align-items: center;
    margin: 8px 0;
}

body {
    background: #F5F4F9;
}

.parte-superior {
    background: #fff;
    display: flex;
    border: 1px;
    Width: 100%;
    Height: 68px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.imagem1 {
    position: absolute;
    left: 0;
    top: 0;

}

.linhas {
    display: flex;
    width: 100%;

}

.linha {
    width: 20%;
}

*,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.box-content {
    font-family: 'Poppins', sans-serif;
}

menu {
    display: flex;
    flex-direction: column;
}

.btn-menu,
.btnstatic {
    font-size: 16px;
    border: none;
    background: none;
    color: white;
    height: 56px;
    text-align: start;
    align-items: center;
    width: 100%;
}



.btn-menu:hover {
    cursor: pointer;
    font-weight: 600;
    background:
        #F48221;
}



.box-content {
    display: flex;
    background: #dad9d9;

}

.boxLateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 274px;
    background: #F9E423;
    height: 535px;
}

.dflex {
    display: flex;
}


.opcoes {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

.botao:hover .opcoes {
    display: block;
}

.opcoes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.opcoes li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.opcoes li:last-child {
    border-bottom: none;
}

.opcoes a {
    text-decoration: none;
    color: #333;
}

*/ .opcoes a:hover {
    text-decoration: underline;
}

.opcoes a.selecionado {
    background-color: #FFA500;
    /* Laranja claro quando selecionado */
    color: #fff;
}

.opcoes a[href="${currentPageURL}"] {
    background-color: #FF4500;
    /* Laranja escuro quando na página de destino */
    color: #fff;
}

.açoes {
    cursor: pointer;
}

.dflex {
    display: flex;
}


#formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.box-content,
button,
input {
    font-family: 'Poppins', sans-serif;
}

.btn-acoes {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.imagem-acoes {
    width: 24px;
    height: 24px;
}

.imagem-acoes:hover {
    opacity: 0.8;
}

#editar-button {
    margin-right: 8px;
}

#excluir-button {
    margin-left: 8px;
}

.info-content1,
.info-content2,
.info-content3,
.info-content4,
.info-content5 {
    display: flex;
    align-items: center;
    /* padding: 8px; */
}

.info-content1 {
    flex-basis: 30%;
}

.info-content2 {
    flex-basis: 20%;
}

.info-content3,
.info-content4,
.info-content5 {
    flex-basis: 15%;
    justify-content: center;
}

.info-content4 {
    flex-basis: 10%;
}

.info-content5 {
    flex-basis: 20%;
}

.info-tabela {
    background: #ffffff;
    height: 72px;
    padding: 24px 40px;
    max-width: 100%;
}

.info-white {
    background-color: #f0f0f0;
}

.dflex {
    display: flex;
}

.cinza50 {
    background-color: #fafafa;
}

.table-row:nth-child(even) {
    background-color: #f5f5f5;
}

.info-content1:nth-child(even),
.info-content2:nth-child(even),
.info-content3:nth-child(even),
.info-content4:nth-child(even),
.info-content5:nth-child(even) {
    background-color: #f5f5f5;
}

.info-content1:nth-child(odd),
.info-content2:nth-child(odd),
.info-content3:nth-child(odd),
.info-content4:nth-child(odd),
.info-content5:nth-child(odd) {
    background-color: #ffffff;
}

body {
    background: #c9c7c7;
}

.parte-superior {
    display: flex;
    border: 1px;
    Width: 100%;
    Height: 68px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.linhas {
    display: flex;
}

.linha {
    width: 270px;
}

*,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.box-content,
input {
    font-family: 'Poppins', sans-serif;

}

menu {
    display: flex;
    flex-direction: column;
}

.btn-menu,
.btnstatic {
    font-size: 16px;
    margin: 8px;
    border: none;
    background: none;
    color: white;
    max-width: 255px;
    height: 56px;
    border-radius: 8px;
    text-align: start;
    align-items: center;
}

.btnVerde {
    background: #FAA61A;
}

.btn-menu:hover {
    cursor: pointer;
}

.btn-menu img,
.btnstatic img {
    margin: 0 17px 0 24px;

}

.box-silver {

    width: 100%;
}

.svg-user {
    width: 56px;
}




.p-user :nth-child(1) {
    font-size: 20px;

}


.main-content {
    padding-left: 20px;

}


#formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

}


.input-search {
    font-size: 16px;
    width: 400px;
    height: 56px;
    border-radius: 16px;
    padding-left: 16px;
    border: 1.5px solid #E0E0E0;
    border-radius: 16px;

}


.search-lupa img {
    position: absolute;
    top: 208px;
    left: 628px;

}


.info-container {
    width: 100%;
}



.professor-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botao-imagem {
    width: 20px;
    height: 20px;
}

.input-search {
    font-size: 16px;
    width: 400px;
    height: 56px;
    border-radius: 16px;
    padding-left: 16px;
    border: 1.5px solid #E0E0E0;
    border-radius: 16px;

}

.search-lupa img {
    position: absolute;
    top: 208px;
    left: 628px;
    height: 35px;
    width: 34px;
}


.search-lupa img:hover {
    cursor: pointer;
}

#formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

#botaoUsuario {
    font-size: 16px;
    background: #00C247;
    width: 271px;
    height: 56px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 284px;
    left: 409px;
}




#usuarioProfessor {
    align-self: center;
}


.th,
td {
    background: white;
    border: none;
    padding: 8px;
    text-align: left;;
}




.container {
    background-color: #dad9d9;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
}

#professores {
    width: 146%;
    margin-left: -768px;
    margin-top: 100px;
}
body {
    background: #dad9d9;
}

.conteiner {
    display: flex;
    justify-content: space-between;
}

.frase{
    font-size: 13px;
    margin-top: -80px;
    margin-left: 12px;
    height: 0;
}
.a{
    height: 0;
        margin-left: 215px;
        margin-top: 65px;
    
}
h1{
    width: 306px;
    margin-top: 78px;
}
th {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }